 body {
    background-color: black;
    font-family: 'Romanesco', cursive;
    font-size: 2.5em;
    margin-right: 3.5em;
    margin-left: 3.5em; 
}

h1 {
    color: white;
     text-align: center;
     padding-top: 1.2em;
     font-size: 2em;

}

h2 {
    margin: 10px;
    padding: 10px;
    color: white;
     text-align: center;
     
     font-size: 2em;

}
.floatr{
    float: right;
}

.floatl{
    float: left;
}

p[id="desc"] {
    color: white;
    padding-top: 1em;
    text-indent: 3em;
}

.cards {
    margin-top: 0.5em; 
    display: flex;
    flex-wrap: wrap;
    text-align:center;
}

ul{
    margin-left: 0.3em;
    list-style-type: "🔥";
    text-align:left;
}

.spooky {
    margin-top: 2em;
    text-align: center;

}

.card {
margin: 0.5em;
background-color: #8C2D19;
flex: 50 0 250px;
font-size: 0.7em;

}


img[src="dura.jpg"] {
      margin: left;
      float: left;
}


 /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    justify-content: center;
    text-align: center;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 

ul.topbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin-bottom: 1.5em;
}

ul.topbar li {
    float: left;
}

ul.topbar img{
    justify-content: center;
    text-orientation: center;
    text-align: center;
    vertical-align: middle;
    min-height: 75px;
    min-width: 75px;
    margin-left: auto;
    margin-right: auto;
}

ul.topbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topbar li a:hover:not(.active) {
    background-color: #111;
}

ul.topbar .active {
    background-color: #8C2D19;
}



